@mixin button() {
    font-family: 'Quicksand';
    font-weight: $bold-weight;
    font-size: 1rem;
    border-radius: 3px;
    padding: .5rem 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

    ::first-letter{
        text-transform: capitalize;
    }
}

@mixin grid($cols){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: 1rem;
}

@mixin grid-auto($cols){
    display: grid;
    grid-template-columns: repeat($cols, auto);
    grid-gap: 1rem;
}