@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/productcard";
@import "components/searchbox";
@import "components/breadcrumb";

@import "pages/items";
@import "pages/productdetail";

body {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

.row, .container .row{
  -bs-gutter-x: 0 !important;
}

