$color-primary: #f7d12c;
$color-secondary: #0283ff;
$color-gray : #F7F6F7;
$color-grey-dark: #69696F;
$color-black: #000;
$color-white: #FFF;

$product-border-color: #e0e0e0;
$product-title-color: #333;
$product-location-color: #999;
$price-color: #333;
$free-shipping-color: green;

$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;