.breadcrumb{
    font-size: 14px;
    padding: 1rem;
    color: $color-grey-dark;

    span:not(:last-child):after{
        content: ">";
        margin: .3rem;
    }

    span:last-child{
        font-weight: $semibold-weight;
    }
}