.search-box {
  background-color: $color-primary;

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    @media (max-width: 576px) {
      justify-content: end;
    }
  }

  &-logo{
    max-width: 50px;
    margin: 0 1rem;
  }

  &-form{
    display: flex;
    justify-content: center;
    min-width: 90%;

    @media (max-width: 576px) {
      min-width: 75%;
      max-width: 75%;
    }
  }

  &-input {
    border: 1px solid $color-white;
    color: $color-grey-dark;
    position: relative;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 2px 0 0 2px;
    background-color: $color-white;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
    outline: none;
  }

  &-button{
    min-width: 45px;
    background-color: $color-white;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;

    img{
      max-width: 30px;
    }
  }
}

.search-icon {
  margin-right: 10px;
  font-size: 1.5em;
  color: $color-secondary;
}

.search

.search-input::placeholder {
  color: $color-grey-dark;
  font-size: 12px
}

.filter-icon {
  margin-left: 10px;
  font-size: 1.5em;
  color: $color-secondary;
}

.search-box:focus-within {
  border-color: #2980b9;
}